# Question 23

def tough(indent, num):
    def f(indent, num):
        if num > 0:
            f(indent, num // 2)
            print(" " * indent + "*" * num)
            f(indent + 1, num // 2)
    
    f(indent, num)
tough(0, 0)

In [ ]:
def tough(indent, num):
    def f(indent, num):
        if num > 0:
            f(indent, num // 2)
            print(" " * indent + "*" * num)
            f(indent + 1, num // 2)
    
    f(indent, num)

tough(0, 1)

In [9]:
def tough(indent, num):
    def f(indent, num):
        if num > 0:
            f(indent, num // 2) 
            print(" " * indent + "*" * num)
            f(indent + 1, num // 2)
    
    f(indent, num)

tough(0, 2)

*
**
 *

In [10]:
def tough(indent, num):
    def f(indent, num):
        if num > 0:
            f(indent, num // 2)
            print(" " * indent + "*" * num)
            f(indent + 1, num // 2)
    
    f(indent, num)

tough(0, 4)

*
**
 *
****
 *
 **
  *

# Answer 22

In [12]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\data science\anaconda\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\data science\anaconda\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\data science\anaconda\lib\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\data science\anaconda\lib\site-packages (from ipython-sql) (2.0.22)
Requirement already satisfied: sqlparse in c:\data science\anaconda\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\data science\anaconda\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\data science\anaconda\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\data science\anaconda\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\data science\anaconda\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\data science\anaconda\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\data science\anaconda\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\data science\anaconda\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\data science\anaconda\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\data science\anaconda\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\data science\anaconda\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\data science\anaconda\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\data science\anaconda\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\data science\anaconda\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\data science\anaconda\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\data science\anaconda\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\data science\anaconda\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\data science\anaconda\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\data science\anaconda\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\data science\anaconda\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [ ]:
import pandas as pd
import sqlite3

In [14]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [19]:
%sql sqlite:///weather.db

In [20]:
%%sql
CREATE TABLE Weather (
    id INTEGER PRIMARY KEY,
    recordDate DATE,
    temperature INTEGER
);

 * sqlite:///weather.db
(sqlite3.OperationalError) table Weather already exists
[SQL: CREATE TABLE Weather (
    id INTEGER PRIMARY KEY,
    recordDate DATE,
    temperature INTEGER
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [21]:
%%sql
INSERT INTO Weather (id, recordDate, temperature) VALUES
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30);

result = %sql SELECT w.id FROM Weather w JOIN Weather w_prev ON w.recordDate = DATE(w_prev.recordDate, '-1 day') WHERE w.temperature > w_prev.temperature

result

 * sqlite:///weather.db
4 rows affected.
(sqlite3.OperationalError) near "result": syntax error
[SQL: result = %sql SELECT w.id FROM Weather w JOIN Weather w_prev ON w.recordDate = DATE(w_prev.recordDate, '-1 day') WHERE w.temperature > w_prev.temperature

result]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

# Answer 21

In [26]:
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

class Segment:
    def __init__(self, point1, point2):
        self.point1 = point1
        self.point2 = point2

    def length(self):
        dx = self.point1.x - self.point2.x
        dy = self.point1.y - self.point2.y
        return ((dx ** 2) + (dy ** 2)) ** 0.5

    def slope(self):
        dx = self.point1.x - self.point2.x
        dy = self.point1.y - self.point2.y
        if dx == 0:
            return None
        return dy / dx

In [27]:
p1 = Point(3, 4)
p2 = Point()
s = Segment(p1, p2)
print(s.length())
print(s.slope())

5.0
1.3333333333333333